{
    "version": "1",
    "storage": {
        "elastictape": {
            "required_credentials" : {
                "username" : {{ et_user }}
            }
        }
    },
    "default_storage" : {{ default_storage }},
    "default_gws" : {{ default_gws }}
    ""
}
